{{{ phpOpenTag }}}

namespace {{baseNamespace}}{{namespace}};

{{# imports}}
use {{baseNamespace}}{{.}};
{{/imports}}
use Symfony\Component\Validator\Constraints as Assert;
{{#attributes}}
#[ApiConstrain\{{.}}]
{{/attributes}}
final class {{className}}
{
    {{#properties}}

    /** @var {{{docType}}} ${{name}} */
    {{#attributes}}
    #[{{.}}]
    {{/attributes}}
    public readonly {{#isNullable}}?{{/isNullable}}{{{type}}} ${{name}};
    {{/properties}}

    /**
     {{#properties}}
     * @param {{{docType}}} ${{name}}
     {{/properties}}
     */
    public function __construct(
{{#rTrim}}{{#properties}}
        {{#isNullable}}?{{/isNullable}}{{{type}}} ${{name}}{{#defaultValue}} = {{.}}{{/defaultValue}},
{{/properties}}{{/rTrim}}
    ) {
         {{#properties}}
         $this->{{name}} = ${{name}};
         {{/properties}}
    }
}
